body {
  background-color: #faf9ef;
  color: #786e64;
}

main table {
  background-color: #bdad9f;
}

.controls {
  color: white;
}

.controls.cardinal td[class] {
  background-color: #5d92cb;
}

.controls.elevation td[class] {
  background-color: #6cc19c;
}

/* Empty spaces */
main td.d0 {
  background-color: #cfc1b3;
}

/* For any higher numbers, just go with this grey */
main td.d2,
main td.d4 {
  color: #786e64;
}

main td {
  color: #f8f5f1;
}

main td.d2 {
  background-color: #efe4d9;
}

main td.d4 {
  background-color: #eee1c7;
}

main td.d8 {
  background-color: #fbae71;
}

main td.d16 {
  background-color: #f18553;
}

main td.d32 {
  background-color: #ff6c53;
}

main td.d64 {
  background-color: #ff401e;
}

/* For any higher numbers, just go with this yellow */
main td {
  background-color: #efd26a;
}
