body {
  background-color: #faf9ef;
  color: #786e64;
}

main table {
  background-color: #bdad9f;
}

main td {
  background-color: #cfc1b3;
}

.controls {
  color: white;
}

.controls.cardinal td[class] {
  background-color: #5d92cb;
}

.controls.elevation td[class] {
  background-color: #6cc19c;
}

td.d2,
td.d4 {
  color: #786e64;
}

td.d8,
td.d16,
td.d32,
td.d64,
td.d128,
td.d256 {
  color: #f8f5f1;
}

td.d2 {
  background-color: #efe4d9;
}

td.d4 {
  background-color: #eee1c7;
}

td.d8 {
  background-color: #fbae71;
}

td.d16 {
  background-color: #f18553;
}

td.d32 {
  background-color: #FF6C53;
}

td.d64 {
  background-color: #FF401E;
}

td.d128,
td.d256,
td.d512,
td.d1024 {
  background-color: #EFD26A;
}
