/* {
  outline: 1px dotted red;
}/**/

/*
I'm living dangerously.
One day, I'll need to throw in media queries since vh vw vmin vmax aren't enough
*/

html,
body {
  position: fixed;
}

body {
  font-family: sans-serif;
  font-size: 2.5vh;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  /* Prevent iOS overscroll/bounce */
  position: fixed;

  touch-action: manipulation;
  cursor: default;
  user-select: none;
}

table,
tr,
td {
  padding: 0;
  margin: 0;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.controls {
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 6vh;
  width: 36vh;
  height: 36vh;
  text-transform: uppercase;
}

.controls td {
  width: 33%;
  height: 33%;
  text-align: center;
}

.controls td[class] {
  cursor: pointer;
}

.controls.elevation {
  order: 0;
}

.controls.cardinal {
  order: 2;
}

main {
  order: 1;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}

main table {
  border-spacing: 0.8vh;
  margin: 0.8vh 6vh;
}

/*
main table.t0 {
  transform: perspective(56em) rotateX(56deg);
}

main table.t1 {
  transform: perspective(53em) rotateX(53deg);
}

main table.t2 {
  transform: perspective(46em) rotateX(46deg);
}

main table.t3 {
  transform: perspective(40em) rotateX(40deg);
}
*/

main td {
  text-align: center;
  height: 4.5vh;
  width: 9vh;
}
