/* {
  outline: 1px dotted red;
}/**/

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.controls {
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 2em;
  width: 7em;
  height: 7em;
}

.controls td {
  width: 33%;
  height: 33%;
  text-align: center;
}

.controls td[class] {
  cursor: pointer;
}

.controls.elevation {
  order: 0;
}

.controls.cardinal {
  order: 2;
}

main {
  order: 1;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}

main table {
  border-spacing: 0.25em;
}


main td {
  text-align: center;
  height: 2.25em;
  width: 3em;
}
